@import url('https://fonts.googleapis.com/css?family=Numans');

.bg-imagen{
background-image: url('/assets/main-fondo.jpg');
background-size: cover;
background-repeat: no-repeat;
font-family: 'Numans', sans-serif;
height: 100vh;
align-content: center;
}
