<div class="container-fluid">
  <div class="container p-0">
    <header class="navbar navbar-light bg-light navbar-expand flex-column flex-md-row mb-3">
      <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">La Bodega</a>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <a class="nav-link px-3" href="#"><i class="fas fa-th"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="#"><i class="fas fa-shopping-cart"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="#"><i class="fas fa-inbox"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3" href="#"><i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>
    </header>
  </div>
  <div class="container bg-light">
    <div class="row py-5">
      <div class="col-8">
        <div class="h2">Catálogo de Productos</div>
      </div>
      <div class="col-4">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1" class="h5">¿Qué estas buscando?</label>
            <input type="text" class="form-control" name="filterProducto" placeholder="Buscar producto" [(ngModel)]="filterProducto">
            <!--small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
          </div>
        </form>
      </div>
    </div>
    <div class="row">

      <div class="col-3" *ngFor="let producto of productos | filter:filterProducto">
        <div class="col-12">
          <div class="row">
            <img src="/assets/{{producto.imagen}}" class="img-fluid mh-105">
          </div>
        </div>
        <h3>{{producto.nombre}}</h3>
        <div class="col-12">
          <div class="row">
            <div class="col-10 p-0"><small class="font-weight-bold">Precio:</small> </div>
            <div class="col-2 p-0 "><small>$ {{producto.precio}}</small></div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-10 p-0"><small class="font-weight-bold">Unidades disponibles:</small> </div>
            <div class="col-2 p-0"><small>{{producto.disponibles}}</small></div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-5 p-0">
              <a href="#" class="btn btn-primary btn-sm w-100">Ver Más</a>
            </div>
            <div class="col-7 pr-0">
              <div class="col-12">
                <div class="row">
                  <div class="col-7 p-0">
                    <a href="" class="btn btn-warning btn-sm">Añadir</a>
                  </div>
                  <div class="col-5 p-0">
                    <div class="form-group">
                      <input type="number" class="form-control form-control-sm" id="cantidad" value="1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
