<div class="container h-menu">
  <header class="navbar navbar-light navbar-expand flex-column flex-md-row p-0">
    <a class="navbar-brand mr-0 mr-md-2" routerLink="/home" aria-label="Bootstrap">La Bodega</a>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item">
        <a class="nav-link px-3" routerLink="/home" routerLinkActive="active"><i class="fas fa-th"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3 position-relative" routerLink="/carrito" routerLinkActive="active">
          <i class="fas fa-shopping-cart"></i>
          <span class="badge badge-danger rounded-circle cantidadCarrito" *ngIf="carrito.showCantidad">{{carrito.cantidadCarrito}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3" routerLink="/bandeja" routerLinkActive="active">
          <i class="fas fa-inbox"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link pl-3" routerLink="/login"><i class="fas fa-sign-out-alt"></i></a>
      </li>
    </ul>
  </header>
</div>
