@import url('https://fonts.googleapis.com/css?family=Numans');

.bg-home{
background-image: url('/assets/main-fondo.jpg');
background-size: cover;
background-repeat: no-repeat;
font-family: 'Numans', sans-serif;
height: 100vh;
align-content: center;
}

.h-cuerpo{
  height: calc(100vh - 40px);
  padding-top: 20px;
  position: relative;
}

.h-cuerpo .row{
  background-color: #f8f9fa;
  position: relative;
}

.h-cuerpo-top {
  height: 135px;

}

.h-cuerpo-bottom {
  /*position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;*/
  height: calc(100% - 135px);
  overflow: auto;
}
